svg {
    border: 1px solid #ccc;
}

.bar:hover {
    fill: orange;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    background: lightsteelblue;
    border: 1px solid #999;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

button {
    padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
	border: none;
	color: #fff;
	background-color: #768ba3;
	border-radius: 5px;
	font-weight: bold;
}

button:hover {
    background-color: #596f8a;
}